.red{
    background-color: red;
}

.redSelected{
    background-color: red;
    box-shadow: 0 0 50px rgb(255, 34, 0);
}

.yellow{
    background-color: yellow;
}

.yellowSelected{
    background-color: yellow;
    box-shadow: 0 0 50px rgb(255, 242, 0);
}

.green{
    background-color: green;
}

.greenSelected{
    background-color: green;
    box-shadow: 0 0 50px rgb(51, 162, 0);
}


.circle{
    border-radius: 50%;
    height:200px;
    width:200px;
    margin: 2vh auto;
    padding: 2vh;
}

#light{
    display: flex;
    justify-content: center; 
}

#trafficLight{
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 2%;
    flex-direction: column; 
    margin-top: 50px;
};